PORT=3000
CORS_ORIGIN=https://cybership.io/,http://localhost:3000
UPS_CLIENT_ID=UPS_CLIENT_ID
UPS_CLIENT_SECRET=UPS_CLIENT_SECRET
UPS_ACCOUNT_NUMBER=UPS_ACCOUNT_NUMBER
UPS_BASE_URL=UPS_BASE_URL
UPS_OAUTH_URL=https://wwwcie.ups.com/security/v1/oauth/token
UPS_TIMEOUT_MS=5000